body{


    background: linear-gradient(to top, black, #222222);
    background-repeat: no-repeat;
    background-size: cover;


}
.verh{

    height: 800px;
    background-image: url("/image/ramka.png"), url("/image/cheterPlayer.png");
    background-repeat: no-repeat;
    background-position: center center;

}
.simple{


    background-color: aquamarine;
    max-width: 500px;

    margin-left: auto;
    margin-right: auto;



}